USE [master]
GO
/****** Object:  Database [IMDBTest]    Script Date: 06-Sep-22 19:46:44 ******/
CREATE DATABASE [IMDBTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IMDBTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\IMDBTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IMDBTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\IMDBTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IMDBTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IMDBTest]
GO
USE [IMDBTest]
GO
/****** Object:  Table [dbo].[OfferHistories]    Script Date: 06-Sep-22 19:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfferHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WatchListId] [int] NOT NULL,
	[OfferDate] [date] NOT NULL,
 CONSTRAINT [PK_OfferHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WatchLists]    Script Date: 06-Sep-22 19:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WatchLists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Watched] [bit] NOT NULL,
	[FilmId] [nvarchar](50) NOT NULL,
	[FilmTitle] [nvarchar](max) NOT NULL,
	[FilmDescription] [nvarchar](max) NOT NULL,
	[FilmRating] [decimal](27, 2) NOT NULL,
	[FilmPoster] [nvarchar](500) NULL,
 CONSTRAINT [PK_WatchList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[OfferHistories]  WITH CHECK ADD  CONSTRAINT [FK_OfferHistories_WatchList] FOREIGN KEY([WatchListId])
REFERENCES [dbo].[WatchLists] ([Id])
GO
ALTER TABLE [dbo].[OfferHistories] CHECK CONSTRAINT [FK_OfferHistories_WatchList]
GO
ALTER TABLE [dbo].[WatchLists]  WITH CHECK ADD  CONSTRAINT [FK_WatchList_WatchList] FOREIGN KEY([Id])
REFERENCES [dbo].[WatchLists] ([Id])
GO
ALTER TABLE [dbo].[WatchLists] CHECK CONSTRAINT [FK_WatchList_WatchList]
GO
USE [master]
GO
